{{#each lists as |list|}}
  <div>


      <section data-id="{{list.id}}">

        <h3 class="list-name inline" data-id="{{list.id}}">{{list.list_name}}</h3>

        <form class="update-list-form inline" action="index.html" method="patch">
          <input class="list-rename-input-field hidden" required type="text" name="list[list_name]" placeholder="new list name"/>
          <input type="submit" name="" value="edit" class="list-rename btn btn-sm btn-outline-secondary margin-top-5">
          <button type="submit" class="btn btn-sm btn-outline-secondary">
            <img src="/public/svg/pencil.svg" alt="edit">
          </button>

        </form>
        <button class="btn btn-sm btn-outline-secondary delete-list">
          <img src="/public/svg/trashcan.svg" alt="delete">
        </button>

        {{#if list.tasks}}
          <ul>
            {{#each tasks as |task|}}
              <div data-id="{{task.id}}" class="form-check">
                <input class="form-check-input" type="checkbox" value="">
                <label class="form-check-label" for="">
                  {{task.task_name}}
                </label>
              </div>
            {{/each}}
          </ul>
        {{else}}
          <p>No tasks yet!</p>
        {{/if}}


        <form class="create-task-form" action="index.html" method="post">
          <input required type="text" name="task[task_name]" placeholder="new task"/>
          <input type="submit" name="" value="add a task!" class="btn btn-outline-secondary margin-top-5">
        </form>

        <br>
        <br>

      </section>
  </div>

{{/each}}
