{{#each lists as |list|}}
  <div>


      <section data-id="{{list.id}}">

        <h3 class="list-name inline" data-id="{{list.id}}">{{list.list_name}}</h3>

        {{! edit and delete buttons for lists }}
        {{! update this form to amtch the lists form }}
        <form class="update-list-form inline" action="index.html" method="patch">
          <input class="list-rename-input-field hidden" required type="text" name="list[list_name]" placeholder="new list name"/>
          <input type="submit" name="" value="edit" class="list-rename btn btn-sm btn-outline-secondary margin-top-5">
          <button type="submit" class="btn btn-sm btn-outline-secondary">
            <img src="/public/svg/pencil.svg" alt="edit">
          </button>

        </form>
        <button class="btn btn-sm btn-outline-secondary delete-list">
          <img src="/public/svg/trashcan.svg" alt="delete list">
        </button>

        {{#if list.tasks}}
          <div>
            {{#each tasks as |task|}}
              <div data-id="{{task.id}}" class="individual-task">
                {{#if task.completed}}
                <p class="task inline strikethrough">
                {{else}}
                <p class="task inline">
                {{/if}}
                  {{task.task_name}}
                </p>

                {{! edit and delete buttons for tasks }}
                <button class="btn btn-sm btn-outline-secondary task-rename inline">
                  <img src="/public/svg/pencil.svg" alt="edit task">
                </button>
                <form class="update-task-form hidden" action="index.html" method="patch">
                  <input required type="text" name="task[task_name]" placeholder="new task name"/>
                  <input type="submit" name="" value="edit" class="btn btn-sm btn-outline-secondary margin-top-5">
                </form>
                <button class="btn btn-sm btn-outline-secondary delete-task">
                  <img src="/public/svg/trashcan.svg" alt="delete task">
                </button>

              </div>
            {{/each}}
          </div>
        {{else}}

        {{/if}}


        <form class="create-task-form" action="index.html" method="post">
          <input required type="text" name="task[task_name]" placeholder="new task"/>
          <input type="submit" name="" value="add a task!" class="btn btn-outline-secondary margin-top-5">
        </form>

        <br>
        <br>

      </section>
  </div>

{{/each}}
