{{#each lists as |list|}}
  {{log list}}


  <div>

      <h1 data-id="{{list.id}}"> <small>{{list.list_name}}</small></h1>

      <section data-id="{{list.id}}">
        {{#if list.item}}
          {{list.item}}
        {{else}}
          <p>No items in the list.</p>
          <ul>
            <li>list-item-one</li>
            <li>list-item-two</li>
            <li>list-item-three</li>
          </ul>
        {{/if}}
        <br>
        <form class="update-list-form" action="index.html" method="patch">
          <input required type="text" name="list[list_name]" placeholder="list name"/>
          <input type="submit" name="" value="change this list!" class="btn btn-outline-secondary margin-top-5">
        </form>
        <button class="btn btn-outline-secondary delete-list">delete this list!</button>

      </section>
  </div>

{{/each}}
