{{#each lists as |list|}}
  <div>


      <section data-id="{{list.id}}">
        <div class="container">
          <div class="row">
            <div class="col-6">
              <div class="row">
                <h3 class="list-name inline" data-id="{{list.id}}">{{list.list_name}}</h3>
              </div>
            </div>
            <div data-list-id="{{list.id}}" class="col-6">

              {{! edit and delete buttons for lists }}
              {{! update this form to amtch the tasks form }}
              <button class="btn btn-sm btn-outline-secondary list-rename inline bare-button">
                <img src="/public/pencil-8x.png" alt="edit" style="width:16px;height:16px;">
              </button>

              <form class="update-list-form hidden" action="index.html" method="patch">
                <input class="list-rename-input-field" required type="text" name="list[list_name]" placeholder="new list name"/>
                <input type="submit" name="" value="edit" class="btn btn-sm btn-outline-secondary margin-top-5 bare-button">
              </form>

              <button class="btn btn-sm btn-outline-secondary delete-list bare-button">
                <img src="/public/trash-8x.png" alt="delete list" style="width:16px;height:16px;">
              </button>

            </div>
          </div>
        </div>



        {{#if list.tasks}}
          <div class="container">
            <div class="row">

              {{#each tasks as |task|}}
                <div class="col-6">
                  <div data-id="{{task.id}}" class="individual-task">

                    {{#if task.completed}}
                    <p class="task inline strikethrough">
                    {{else}}
                    <p class="task inline">
                    {{/if}}
                      {{task.task_name}}
                    </p>

                  </div>
                </div>
                <div data-task-id="{{task.id}}" class="col-6">

                    {{! edit and delete buttons for tasks }}
                    <button class="btn btn-sm btn-outline-secondary task-rename inline bare-button">
                      <img src="/public/pencil-8x.png" alt="edit" style="width:14px;height:14px;">
                    </button>
                    <form class="update-task-form hidden" action="index.html" method="patch">
                      <input required type="text" name="task[task_name]" placeholder="new task name"/>
                      <input type="submit" name="" value="edit" class="btn btn-sm btn-outline-secondary margin-top-5 bare-button">
                    </form>
                    <button class="btn btn-sm btn-outline-secondary delete-task bare-button">
                      <img src="/public/trash-8x.png" alt="delete list" style="width:14px;height:14px;">
                    </button>

                </div>


              {{/each}}
            </div>
          </div>
        {{else}}

        {{/if}}
        <nav>
          <form class="create-task-form" action="index.html" method="post">
            <input required class="new-task focus" type="text" name="task[task_name]" placeholder="new task                    &#8629;"/>
            <!-- <input type="submit" name="" value="add a task!" class="btn btn-outline-secondary margin-top-5"> -->
          </form>
        </nav>

        <br>
        <br>

      </section>
  </div>

{{/each}}
