{{#each lists as |list|}}
  {{log list}}


  <div>

      <h2 data-id="{{list.id}}">{{list.list_name}}</h2>

      <section data-id="{{list.id}}">

        <form class="update-list-form" action="index.html" method="patch">
          <input required type="text" name="list[list_name]" placeholder="list name"/>
          <input type="submit" name="" value="change this list!" class="btn btn-outline-secondary margin-top-5">
        </form>
        <button class="btn btn-outline-secondary delete-list">delete this list!</button>

        {{#if list.tasks}}
          <ul>
            {{#each tasks as |task|}}
              {{log task}}
              <div data-id="{{task.id}}" class="form-check">
                <input class="form-check-input" type="checkbox" value="">
                <label class="form-check-label" for="">
                  {{task.task_name}}
                </label>
              </div>
            {{/each}}
          </ul>
        {{else}}
          <p>No tasks yet!</p>
        {{/if}}

        <form class="create-task-form" action="index.html" method="post">
          <input required type="text" name="task[task_name]" placeholder="new task"/>
          <input type="submit" name="" value="add a task!" class="btn btn-outline-secondary margin-top-5">
        </form>

      </section>
  </div>

{{/each}}
