{{#each lists as |list|}}
  {{log list}}


  <div>

      <h2 data-id="{{list.id}}">{{list.list_name}}</h2>

      <section data-id="{{list.id}}">

        <form class="update-list-form" action="index.html" method="patch">
          <input required type="text" name="list[list_name]" placeholder="list name"/>
          <input type="submit" name="" value="change this list!" class="btn btn-outline-secondary margin-top-5">
        </form>
        <button class="btn btn-outline-secondary delete-list">delete this list!</button>

        {{#if list.tasks}}
          {{#each tasks as |task|}}
            {{log task}}
            <p data-id="{{task.id}}">{{task.task_name}}</p>
          {{/each}}

        {{else}}
          <p>No items in the list.</p>
          <ul>
            <li>list-item-one</li>
            <li>list-item-two</li>
            <li>list-item-three</li>
          </ul>
        {{/if}}

        <form class="create-task-form" action="index.html" method="post">
          <input required type="text" name="task[task_name]" placeholder="new task"/>
          <input type="submit" name="" value="add a task!" class="btn btn-outline-secondary margin-top-5">
        </form>

      </section>
  </div>

{{/each}}
