{{#each lists as |list|}}
  {{log list}}


  <div>

      <h1 data-id="{{list.id}}"> <small>{{list.list_name}}</small></h1>

      <section data-id="{{list.id}}">
        {{#if list.item}}
          {{list.item}}
        {{else}}
          <p>No items in the list.</p>
          <ul>
            <li>list-item-one</li>
            <li>list-item-two</li>
            <li>list-item-three</li>
          </ul>
        {{/if}}
        <br>
        <button class="btn btn-outline-secondary change-list">change this list!</button>
        <button class="btn btn-outline-secondary delete-list">delete this list!</button>

      </section>
  </div>

{{/each}}
